<?xml version='1.0' encoding='utf-8'?>
<widget id="com.youssef.iptv.pro" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>IPTV Smarters Pro</name>
    <description>Professional IPTV Player</description>
    <author email="dev@example.com" href="http://example.com">Youssef Dev</author>
    
    <content src="index.html" />
    
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <preference name="AndroidXEnabled" value="true" />
        <preference name="GradlePluginKotlinEnabled" value="true" />
        <preference name="android-minSdkVersion" value="22" />
        <preference name="android-targetSdkVersion" value="33" />
        
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" android:requestLegacyExternalStorage="true" />
        </edit-config>
    </platform>

    <preference name="Orientation" value="default" />
    <preference name="Fullscreen" value="true" />
    <preference name="BackgroundColor" value="0xff0f0518" />
    <preference name="KeepRunning" value="true" />
</widget>
