name: Build Android APK

on:
  push:
    branches:
      - main
      - master

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Initialize Capacitor & Android
        run: |
          npx cap add android
          npx cap sync

      # هذه الخطوة تضمن تفعيل Cleartext Traffic في ملف Manifest للأندرويد
         - name: Configure Android Manifest (Permissions & Cleartext)
        run: |
          # تفعيل Cleartext (للسماح بـ http)
          sed -i 's/android:allowBackup="true"/android:allowBackup="true" android:usesCleartextTraffic="true"/' android/app/src/main/AndroidManifest.xml
          
          # إضافة إذن الإنترنت (للتأكد فقط)
          sed -i '/<application/i <uses-permission android:name="android.permission.INTERNET" />' android/app/src/main/AndroidManifest.xml

      - name: Build APK (Debug)
        run: |
          cd android
          ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: IPTV-Elpop-App
          path: android/app/build/outputs/apk/debug/app-debug.apk
